@import "./reset.css";

:root {
    --app-dark-bg: #1c1c22;
    --app-font-color: #f2f4f6;

    /* COLORS */

    --app-blue: #09f;
    --app-green: #9f0;
    --app-orange: #f90;
    --app-pink: #f09;
    --app-purple: #90f;
}

html {
    scroll-behavior: smooth;   
}
    
body {
    background-color: var(--app-dark-bg);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - -
            MAIN & FORM
- - - - - - - - - - - - - - - - - - - - */

main {
    padding: 0 10%;
    color: var(--app-font-color);
}

form {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: 300;
}

input[type="text"] {
    padding: 10px;
    width: 400px;
    background-color: #27272f;
    border-radius: 5px;
    color: var(--app-font-color);
}

input[type="text"]::placeholder{
    color: var(#3f3f4a);
}

button {
    padding: 10px;
    width: 100px;
    color: var(--app-font-color);
    background-color: #0d8537;
    border-radius: 5px;
}

/* - - - - - - - - - - - - - - - - - - -
            WRAPPER
- - - - - - - - - - - - - - - - - - - - */

.wrapper {
    margin-top: 30px;
    padding: 10px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.wrapper * {
    margin-top: 10px;
    display: grid;
}

/* - - - - - - - - - - - - - - - - - - -
            CONTACT BOXES
- - - - - - - - - - - - - - - - - - - - */

.contact {
    padding: 10px;
    width: 360px;
    height: 130px;
    background-color: #27272f;
    border-radius: 5px;
    color: var(--app-font-color);
}

.contact p {
    font-size: 14px;
}