@import "./reset.css";

:root {
    --app-dark-bg: #1c1c22;
    --app-font-color: #f2f4f6;

    /* COLORS */

    --app-blue: #09f;
    --app-green: #9f0;
    --app-orange: #f90;
    --app-pink: #f09;
    --app-purple: #90f;
}

html {
    scroll-behavior: smooth;   
}
    
body {
    background-color: var(--app-dark-bg);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - -
            MAIN & FORM
- - - - - - - - - - - - - - - - - - - - */

main {
    color: var(--app-font-color);
    padding: 0 200px;
}

form {
    margin: 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-weight: 300;
}

input[type="text"] {
    margin: 0 10px;
    padding: 10px;
    width: 400px;
    background-color: #27272f;
    border-radius: 5px;
    color: var(--app-font-color);
}

input[type="text"]::placeholder{
    color: var(#3f3f4a);
}

button {
    padding: 10px;
    width: 100px;
    color: var(--app-font-color);
    background-color: #0d8537;
    border-radius: 5px;
}

.error {
    visibility: hidden;
    text-align: center;
    font-size: 12px;
    color: #9d0000;
    margin-top: 10px;
}

/* - - - - - - - - - - - - - - - - - - -
            WRAPPER
- - - - - - - - - - - - - - - - - - - - */

.wrapper {
    margin-top: 30px;
    padding: 10px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.wrapper * {
    margin-top: 10px;
    display: grid;
    order: -1;
}

/* - - - - - - - - - - - - - - - - - - -
            CONTACT BOXES
- - - - - - - - - - - - - - - - - - - - */

.contact {
    padding: 0 10px;
    width: auto;
    margin: 10px 10px;
    height: 130px;
    background-color: #27272f;
    border: 1px solid #0000;
    border-radius: 5px;
    color: var(--app-font-color);

    /* Transition for deleting */
    transition: all 0.3s;
    animation: 0.5s ease-out 0s 1 loadIn;
}

.contact p {
    font-size: 14px;
}

/* Indication for deleting */
.contact:hover {
    border: 1px solid #9d0000;
}

/* - - - - - - - - - - - - - - - - - - -
            COUNTER
- - - - - - - - - - - - - - - - - - - - */

.counter {
    text-align: center;
    margin-top: 100px;
}

/* - - - - - - - - - - - - - - - - - - -
            ANIMATION
- - - - - - - - - - - - - - - - - - - - */

@keyframes loadIn {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }    
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}